/* 메인 정렬 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 버튼정렬 */
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* 버튼 디자인 서식 넣기 */
#increase-btn {
  border: 2px dashed;
  background-color: white;
  height: 40px;
  margin-right: 1rem;
}

#reset-btn {
  border: 2px dashed;
  background-color: white;
  height: 40px;
  margin-right: 1rem;
}

#decrease-btn {
  border: 2px dashed;
  background-color: white;
  height: 40px;
}
